*.egg-info
*.pyc
*.swp
.cache
.coverage
.coverage.*
.ve
__pycache__
docs/_build
examples/cafe/simple-file/unflattened.json
examples/create-template/rollup/actual
examples/create-template/rollup/actual.*
examples/create-template/simple/actual
examples/create-template/simple/actual.*
examples/flatten/simple/actual
examples/flatten/simple/actual.*
examples/flatten/root-is-list/actual
examples/flatten/root-is-list/actual.*
examples/receipt/source-map/actual
examples/receipt/source-map/actual.*
