*.egg-info
*.pyc
*.swp
.cache
.coverage
.coverage.*
.ve
__pycache__
docs/_build
examples/cafe/simple-file/unflattened.json
examples/create-template/rollup/actual
examples/create-template/rollup/actual.*
examples/create-template/simple/actual
examples/create-template/simple/actual.*
examples/create-template/deprecated-yes/actual
examples/create-template/deprecated-yes/actual.*
examples/create-template/deprecated-no/actual
examples/create-template/deprecated-no/actual.*
examples/create-template/refs/actual
examples/create-template/refs/actual.*
examples/create-template/truncation-length/actual
examples/create-template/truncation-length/actual.*
examples/flatten/filter/actual
examples/flatten/filter/actual.*
examples/flatten/preserve-fields/actual
examples/flatten/preserve-fields/actual.*
examples/flatten/simple/actual
examples/flatten/simple/actual.*
examples/flatten/sheet-prefix/actual
examples/flatten/sheet-prefix/actual.*
examples/flatten/remove-empty-schema-columns/actual
examples/flatten/remove-empty-schema-columns/actual.*
examples/flatten/root-is-list/actual
examples/flatten/root-is-list/actual.*
examples/flatten/truncation-length/actual
examples/flatten/truncation-length/actual.*
examples/flatten/rollup/actual
examples/flatten/rollup/actual.*
examples/flatten/rollup/schema/actual
examples/flatten/rollup/schema/actual.*
examples/flatten/rollup/direct/actual
examples/flatten/rollup/direct/actual.*
examples/flatten/rollup/file/actual
examples/flatten/rollup/file/actual.*
examples/receipt/source-map/actual
examples/receipt/source-map/actual.*
examples/bods/unflatten/actual
examples/bods/unflatten/actual.*
